/* Estilos para el contenedor principal */
.parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr; /* Define las columnas de la cuadrícula */
    grid-template-rows: 100px 2fr 1fr 1fr 1fr; /* Define las filas de la cuadrícula */
    grid-column-gap: 0px; /* Espacio entre columnas */
    grid-row-gap: 0px; /* Espacio entre filas */
    width: 100vw; /* Ancho del contenedor */
    height: 100vh; /* Alto del contenedor */
    position: fixed; /* Fija el contenedor en la pantalla */
    top: 0; /* Posición superior */
    left: 0; /* Posición izquierda */
    margin: 0; /* Sin margen */
}

/* Estilos para el aside general */
.asideGeneral {
    grid-area: 1 / 1 / 6 / 2; /* Área de la cuadrícula que ocupa */
    display: flex; /* Usa flexbox para el contenido interno */
    flex-direction: column; /* Dirección de los elementos internos */
    gap: 10px; /* Espacio entre elementos internos */
    background-color: rgb(40, 39, 39); /* Color de fondo */
    color: white; /* Color del texto */
    text-align: center; /* Alineación del texto */
    padding: 40px; /* Relleno interno */
}

/* Estilos para los encabezados dentro del aside general */
.asideGeneral h1 {
    text-shadow:
        4px 4px 0px black,
        -4px -4px 0px black,
        4px -4px 0px black,
        -4px 4px 0px black; /* Sombra del texto */
}

/* Estilos para los botones dentro del aside general */
.asideGeneral button {
    border-radius: 30px; /* Bordes redondeados */
    height: 35px; /* Altura del botón */
    width: 200px; /* Ancho del botón */
    border: 1px solid black; /* Borde del botón */
    margin-top: 10px; /* Margen superior */
    margin-bottom: 10px; /* Margen inferior */
    background-color: gray; /* Color de fondo */
    color: white; /* Color del texto */
    font-size: 19px; /* Tamaño de la fuente */
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black; /* Sombra del texto */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para la barra de navegación general */
.NavBarGeneral {
    grid-area: 1 / 2 / 2 / 6; /* Área de la cuadrícula que ocupa */
    background-color: black; /* Color de fondo */
    height: 100px; /* Altura de la barra */
    display: flex; /* Usa flexbox para el contenido interno */
    align-items: center; /* Alineación vertical de los elementos */
    justify-content: center; /* Alineación horizontal de los elementos */
    gap: 50px; /* Espacio entre elementos internos */
}

/* Estilos para los encabezados dentro de la barra de navegación */
.NavBarGeneral h1 {
    color: white; /* Color del texto */
}

/* Estilos para los botones dentro de la barra de navegación */
.NavBarGeneral button {
    border-radius: 30px; /* Bordes redondeados */
    height: 35px; /* Altura del botón */
    width: 200px; /* Ancho del botón */
    border: 1px solid rgb(255, 255, 255); /* Borde del botón */
    margin-top: 10px; /* Margen superior */
    margin-bottom: 10px; /* Margen inferior */
    background-color: black; /* Color de fondo */
    color: white; /* Color del texto */
    font-size: 19px; /* Tamaño de la fuente */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para el cuerpo principal */
.cuerpoPrincipal {
    grid-area: 2 / 2 / 6 / 6; /* Área de la cuadrícula que ocupa */
    position: relative; /* Posición relativa */
    height: 100%; /* Altura completa */
}

/* Estilos para el fondo desenfocado */
.background-blur {
    background-image: url('./img/ocio-nocturno-asturias-scaled.jpg.webp'); /* Imagen de fondo */
    background-size: cover; /* Cubrir todo el contenedor */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    filter: blur(2px); /* Aplicar desenfoque */
    position: absolute; /* Posición absoluta */
    top: 0; /* Posición superior */
    left: 0; /* Posición izquierda */
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    z-index: 1; /* Nivel de apilamiento */
}

/* Estilos para el contenido */
.content {
    position: relative; /* Posición relativa */
    z-index: 2; /* Nivel de apilamiento */
    display: flex; /* Usa flexbox para el contenido interno */
    text-align: center; /* Alineación del texto */
}

/* Estilos para la carta de sucursal */
.cartaSucursal {
    height: 300px; /* Altura de la carta */
    width: 200px; /* Ancho de la carta */
    margin: 100px; /* Margen alrededor de la carta */
    background-color: gray; /* Color de fondo */
    border-radius: 20px; /* Bordes redondeados */
    border: 2px solid black; /* Borde de la carta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra de la carta */
}

/*------------crear sucursal--------------*/
.popUpCrearUnaSucursal {
    width: 1150px;
    height: 600px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.popUpCrearUnaSucursal h1 {
    grid-column: span 3;
    margin-bottom: 20px;
}

.popUpCrearUnaSucursal form {
    display: contents;
}

.popUpCrearUnaSucursal input,
.popUpCrearUnaSucursal select {
    border-radius: 10px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid white;
    height: 50px;
    text-align: center;
    align-items: center;
}

.popUpCrearUnaSucursal input[type="checkbox"] {
    width: auto;
}


.divBotones {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.divBotones .btn {
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; /* Añade una transición suave */
}

.btn-success {
    background-color: green !important; /* Usa !important para asegurar que el color se aplique */
    color: white !important;
}

.btn-danger {
    background-color: red !important; /* Usa !important para asegurar que el color se aplique */
    color: white !important;
}

/* Clases de área de la cuadrícula para el formulario de crear sucursal */
.div1 {
    grid-area: 1 / 1 / 2 / 4;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
}

.div3 {
    grid-area: 3 / 1 / 4 / 2;
}

.div4 {
    grid-area: 4 / 1 / 5 / 2;
}

.div5 {
    grid-area: 5 / 1 / 6 / 2;
    display: flex;
    align-items: center;
    gap: 30px;
}

.div6 {
    grid-area: 2 / 2 / 3 / 3;
}

.div7 {
    grid-area: 3 / 2 / 4 / 3;
}

.div8 {
    grid-area: 4 / 2 / 5 / 3;
}

.div9 {
    grid-area: 5 / 2 / 6 / 3;
}

.div10 {
    grid-area: 6 / 2 / 7 / 3;
}

.div11 {
    grid-area: 2 / 3 / 3 / 4;
}

.div12 {
    grid-area: 3 / 3 / 4 / 4;
}

.div13 {
    grid-area: 4 / 3 / 5 / 4;
}

.div14 {
    grid-area: 5 / 3 / 6 / 4;
}

.div15 {
    grid-area: 6 / 3 / 7 / 4;
}

.div16 {
    grid-area: 7 / 2 / 9 / 3;
    width: 400px;
}

.div17 {
    grid-area: 9 / 1 / 10 / 2;
}

.div18 {
    grid-area: 9 / 3 / 10 / 4;
}
/*----------fin crear sucursal------------*/

/*-----------cuerpo principal-------------*/
    .modalVerSucursal{
        width: 600px;
        height: 550px;
        background-color: black;
        color: white;
        border-radius: 10px;
        border: 2px solid white;
        padding: 20px;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }
    .infoModalVerSucursal{
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
/*---------fin cuerpo principal-----------*/